<IfModule mod_headers.c>
  <FilesMatch "\.(jpe?g|png|gif|webp)$">
    Header set Cache-Control "no-cache"
  </FilesMatch>
</IfModule>

# Python CGI execution
AddHandler cgi-script .py
Options +ExecCGI

RewriteEngine On
